<div class="card-body">

        <form id="create" action="{% url 'instagram:create' %}" method="post">{% csrf_token %}
          <div class="row">
              <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Insira um nome para a conta" required>
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required placeholder="usuario" placeholder>
              </div>
            </div>
            <div class="col-md-3 pl-md-1">
              <div class="form-group">
                <label>Senha</label>
                <input type="password" name="password" class="form-control" placeholder="Senha" required>
              </div>
                </div>
             <div class="card-footer">
              <button type="submit" class="btn btn-fill btn-primary">Salvar</button>
            </div>
            </div>
        </form>
      </div>